{%- if not (forge_host is defined) -%}
{%- set forge_host = forge_host_custom -%}
{%- endif -%}

[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"

[project]
name = "{{ python_package_distribution_name }}"
description = "{{ project_description }}"
authors = [
    {name = "{{ author_fullname }}", email = "{{ author_email }}"}
]
license = {text = "{{ copyright_license }}"}
readme = "README.md"
requires-python = "{{ python_package_requires_python }}"
dependencies = []
dynamic = ["version"]

classifiers = [
    "Development Status :: 3 - Alpha"
]

[project.urls]
Repository = "https://{{ forge_host }}/{{ repository_namespace }}/{{ repository_name }}"
Homepage = "https://{{ forge_host }}/{{ repository_namespace }}/{{ repository_name }}"

[project.scripts]
{{python_package_import_name}} = "{{python_package_import_name}}.__main__:main"

[tool.pdm]
version = {use_scm = true}
package-dir = "src"

[tool.pdm.dev-dependencies]
test = [
    "pytest>=6.1",
]
dev = [
    "isort>=5",
    "parver>=0.3",
    "mypy>=0.971",
    "black>=22",
    "flake8>=5.0.4",
]
{% if build_doc %}
doc = [
    "mkdocs>=1.1",
    "mkdocs-material>=6.2",
]
{% endif %}
[tool.pdm.scripts]
release = "python -m tasks.release"
test = "pytest tests/"
{% if build_doc %}doc = {shell = "cd docs && mkdocs serve", help = "Start the dev server for doc preview"}{% endif %}

[tool.black]
line-length = 88
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | tests/fixtures
)/
'''

[tool.isort]
profile = "black"
atomic = true
skip_glob = ["*/setup.py"]
filter_files = true
known_first_party = ["{{python_package_import_name}}"]

[tool.pytest.ini_options]
filterwarnings = [
  "ignore::DeprecationWarning"
]

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
python_version = "3.10"
show_error_codes = true
warn_unused_ignores = true
exclude = [
  '\.eggs$',
  '\.git$',
  '\.mypy_cache$',
  '\.tox$',
  '\.venv$',
  '_build$',
  'buck-out$',
  'build$',
  'dist$',
  'tests/fixtures$',
  '^noxfile\.py$',
  '^tasks/'
]